{% extends 'base.html' %}
{% load static %}
{% block tite_page %}
	خوش آمدید
{% endblock %}

{% block content_page %}
    <link rel="stylesheet" href="{% static 'shoes/home_page.css' %}">
	<sectin>
        <table id="all">
            <td>
                 <img id="image" src="{% static 'shoes/images/Naadasdasdmaye-768x384.jpg' %}">
            </td>
            <td>
                <img id="image2" src="{% static 'shoes/images/جدیدترین-مدل-کفش-زنانه-و-شاخص-انواع-آن.jpg' %}">
            </td>
             <td>
                <img id="image3" src="{% static 'shoes/images/بوت+بلند.jpg' %}">
            </td>
          </table>
        <br>
{% endblock %}